body{
    background-color: #cde7b0;    
}
td, tr{
    border:10px solid #be6e46;
    box-shadow: 5px 5px 5px #be6e46;
    border-radius: 20px;
    padding: 20px;
}
th{
    font-size: 1.5rem;
    border:10px solid #be6e46;
    padding: 20px;
}
/* Tableau des enregistrements */
.add{
    border:10px solid #be6e46;
    box-shadow: 50px 50px 50px #be6e46;
    border-radius: 20px;
    padding: 20px;
}
table{
    text-align:center;
    border-radius:30px;

}
.navbar{
    background-color: #a3bfa8;
    font-size: 20px;
    margin-bottom: 20px;

}
.nav-link{
    color: white;
}
.paragraphe{
    font-size: 2rem;
    text-transform: uppercase;
    color: blue;
}


